
#mapid {
    height: 380px;
    width: 900px;
    border: 2px solid purple
    margin: auto;
}

#mapboxOnly {
    max-width: 50%;
    height: 180px;
    border: 1px solid black;
    margin: auto;
}


